.flip-container, .front, .back {
	width: 280px;
	height: 350px;
}

.flip-container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	perspective: 1000px;

}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
}

.flipper {
	position: relative;
	transform-style: preserve-3d;
	transition: 0.6s;
}

.front, .back {
	position: absolute;
	backface-visibility: hidden;
	border-radius: 3px;
} 

.front {
	background-color: aqua;
	z-index: 2;
	transform: rotateY(0deg);
	border-top: 3px solid pink;
	box-shadow: 5px 5px 40px #888888;
}

.back {
	background-color: purple;
	transform: rotateY(180deg);
	border-top: 3px solid blue;
	box-shadow: 5px 5px 40px #888888;
}

img {
	position: relative;
	top: -10%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 50%;
};